<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="/explore-events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore-songs">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exhibition">Exhibition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
      </ul>
     </div>
      <div class="d-flex">
            <!-- Button trigger modal -->
<div class="question" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi-question-circle"></i>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <strong>A quick guide to the exhibition:</strong> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="help-modal">
        
      
           <p><i class="bi bi-record-fill"></i>
               Follow each event through the exhibition in chronological order of events.</p>
           <p> <i class="bi bi-record-fill"></i>
               To see more information on the images, click on each image for a better view.</p>
           <p> <i class="bi bi-record-fill"></i>
               Some events have more than one song related to the content and will be displayed on two separate pages with the same heading</p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      </div>
   
  </div>
</nav>

