<!-- This is the header which contains the navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="/entry">Exhibition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore-events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore-songs">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bibliography">Bibliography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

