<link rel="stylesheet" href="../assets/navigation_dark.css">
 
<div class="navigation" >
    {% for node in site.pages %}
        {% assign next = page.number | plus: 1 %}
        {% assign prev = page.number | minus: 1 %}
        {% if prev == node.index %}
            {% assign prev_page = node %}
        {% endif %}
        {% if next == node.number %}
            {% assign next_page = node %}
        {% endif %}
    {% endfor %}

    <div class="button-prev">
        <button type="button" class="btn btn-sm">
        {% if prev_page %}
            <a class="pagenav" href="{{ prev_page.url }}"> <i class="bi bi-arrow-left"></i> Previous</a>
        {% endif %}
        </button>
    </div>

    <div class="button-next">
        <button type="button" class="btn btn-sm">
        {% if next_page %}
            <a class="pagenav" href="{{ next_page.url }}"> Next<i class="bi bi-arrow-right"></i></a>
        {% endif %}
        </button>
    
    </div> 
