/* Styling for the Bibliography page */
.container-one {
    width: 90%;
    margin: auto;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}
a {
    text-decoration: underline;
    color: black;
    
}