/* Styling for the Bibliography page */
body {
    background-color: rgb(220, 220, 220);
}

.container-one {
    width: 80%;
    margin: auto;
}

h2 {
    padding-top: 60px;
    padding-bottom: 50px;
    font-weight: 700;
   
}
a {
    text-decoration: underline;
    color: rgb(14, 14, 14);
    
}
a:hover {
    color: rgb(62, 61, 61);
}

p {
    font-size: medium;
}