/* Styling for the guide entry page  */
body {
    color: white;
    background-color: black;
    font-size: large;
}
/* container for the whole div */
.container-one{ 
    margin: auto;
    width: 70%;
}
.guide-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.guide-title{
    text-align: center;
    padding: 30px;
}
.enter-exhibition {
    padding-top: 40px;
    text-align: right;
}
/* Style of each guide instructions */
.guide-one {
    padding-top: 10px;
}

/* Style of ext link to enter exhibition */
#link-one {
    color: rgb(255, 255, 167);
    text-decoration: none;
    font-size: x-large;
    
}
/* Style text link to enter exhibition when mouse hovers over the text */
#link-one:hover {
    color: rgb(146, 146, 146);
    text-decoration: none;
    font-size: x-large;
    

} 
 
/* Adjusted styles for responsiveness on mobile devices */
@media screen and (max-width: 600px) {
    body {
     font-size: medium;
    }
    #link-one {
        color: rgb(255, 255, 167);
        text-decoration: none;
        font-size: large;
        
    }
    
    #link-one:hover {
        color: rgb(146, 146, 146);
        text-decoration: none;
        font-size: large;
        
    
    } 
  }