
.container-one {
  width: 100%;
  margin:auto;  
  background-color: black;
  
}


.container-two {
    width: 90%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: aliceblue;
    border-radius: 2px;
    height: auto;
    background-color: black;
}


.container-three {
    padding: 40px;
    margin: auto;
    width: 90%;
    color: aliceblue;
    background-color: black;
    
  
}

.container-four {
    color: black;
    width: 100%;
    justify-content: start;
    font-weight: 500;
    font-size: large;

     font-family:'Courier New', Courier, monospace;
}

.container-lyrics {
    width: 80%;
    margin: auto;
}
.table {
    width: 80%;
    color: aliceblue;
}

.container-table   {
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-first {
width: 80%;
margin: auto;
padding-top: 50px;
color:white;
}





.title {
    text-align: left;

}

/* arrow */

.down-arrow{
    text-align: center;
}
.bi {
    font-size: 1rem;
}

.italic {
    font-weight:400;
    font-style: italic;

}

/*song title */
.container-title {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.btn {
    padding: 10px;
}


.container-table {
padding-top: 5px;
}

.description {
padding-top: 20px;
}

#arrow {
    font-size: 1.5em;
}
#arrow-down {
    font-size: 3rem;
    color: rgb(255, 255, 174)
}
#arrow-down:hover {
    color: rgb(141, 141, 121)
}

#coverart {
    width: 500px;
    height: 500px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}


/* lyrics */
#lyrics {
    padding: 30px;
}

#column-one {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#column-two {
    padding: 30px;
}

button{
    border: none;
    background-color: rgb(255, 255, 174);
}
.col-6 {
    border-top: solid 1px;
    border-bottom: solid 1px;
}