/* Styling for the exhibition layout */

/* Stylings for progress bar */
.progress-container {
    margin: auto;
    background-color: black; 
    padding-top: 50px;
}

.progress {
    width: 80%;
    margin: auto;
}

.progress-bar {
    background-color:cornflowerblue;
    color: black;
}


/* Styling for CONTAINER ONE displaying event information */
/* All selectors beneath '.container-one' are for elements in '.container-one '*/
.container-one {
    width: 100%;
    margin:auto;  
    background-color: black;
  
}

.content-first {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    color:white;
    font-size: large;
}

.song-title {
    color: rgb(255, 255, 174);
    padding-bottom: 60px;
    text-align: center;
}


.imagedesc { /* Description of the event styling */
    color: black;
    margin: auto;
    font-size: medium;
    text-align: left;
}

.modal-ca {
    text-align: center;/* Centres text in modal  */
}


.event-image {
    text-align: center; /* Centres image in modal  */
}


.down-arrow { /* Arrow positioning at the bottom of events   */
    text-align: center;
    padding-top: 30px;
}

#arrow-down {/* Arrow coour and size */
    font-size: 3rem;
    color: rgb(255, 255, 174)
}

#arrow-down:hover {/* Arrow coour and size on hover */
    color: rgb(141, 141, 121)
}


.italic {/* font style of the location and date of event  */
    font-weight:400;
    font-style: italic;

}

/* Styling for CONTAINER TWO which displays audio/video of song */
/* All selectors beneath '.container-two' are for elements in '.container-two'*/

.container-two {
    width: 90%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: aliceblue;
    border-radius: 2px;
    height: auto;
    background-color: black;
}

.container-title { /* title of the song */
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.table {
    width: 80%;
    color: aliceblue;
}

.container-sm {/* align table to the left */
align-content: left;
}

  
/* Styling for CONTAINER THREE consisting of lyrics */
/* All selectors beneath '.container-three' are for elements in '.container-three '*/

.container-three {
    
    color: black;
    background-color: white;
    width: auto;
    margin: auto;
    font-size: large;
    float: center;
}

.btn {
    padding: 10px;
}   

.popover-lyric{ /* targets .popover-lyric from lyrics on individual pages  */
    border: none;
    background-color: rgb(255, 255, 174);
    text-align: left;
    padding: none;

}

.popover{ /* targets .popover from lyrics on individual pages  */
    font-size: large;
    border: solid 2px cornflowerblue ;
    background-color: rgb(248, 248, 248) ;
    

}

.popover .popover-arrow::before, .popover .popover-arrow::after {  /* blue arrow on popover  */
    border-right-color: cornflowerblue;
}


.container-lyrics {
    width: 80%;
    margin: auto;
    height: auto;
     padding-bottom: 50px;
}

#lyric-container {
    padding: 10px;
}

.lyrics {
    width: 50%;
    margin: auto;
    height: auto;
   
}

.lyric-button{

    background-color: rgb(255, 255, 255);
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
    
#lyric-button{
    font-size: x-large;
    background-color: transparent;
    color: black;
    background-color: cornflowerblue;
    border: none ;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling for CONTAINER FOUR of description of song and coverart */
/* All selectors beneath '.container-four' are for elements in '.container-four '*/

.container-four {
    padding: 40px;
    margin: auto;
    width: 90%;
    color: aliceblue;
    background-color: black;
}


h3 {

    padding-bottom: 20px;
    color: white;
}

.coverart-image {/* cover-art styling */
    padding: 10px;
}
.coverart{ 
    justify-content: center;
    width: 90%;
    margin: auto;
}

button { /* Button for modal on images. All elements none/transparent so outline doesnt show on images  */
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* cover-art table */
#ca-metadata {
    color: black;
    font-size: small;
    width: 100%;
    padding-top:20px;
    
}


#link {/*  colour links for more versions */
    color: rgb(255, 255, 174);
}
#link:hover {/* colour links for more versions */
    color:  rgb(141, 141, 121);
}



/* responsive elements for mobile devices */
@media screen and (max-width: 600px) {
    #column-one {
        padding: 5px;
        font-size: small;
    }
    
    #column-two {
        padding: 5px;
        font-size: small;
    }
    .container-lyrics{
     width: 100%;   
    }
    .lyrics {
        width: 90%;
        margin: auto;
        height: auto;
    }
    body {
        font-size: medium;
    }
    .content-first {
         font-size: medium;
        width: 90%;
        }
    .container-two {
        font-size: medium;
        width: 100%;
    }
    .container-three {
        font-size: medium;
        width: 100%;
    }
    
    .table {
        width: 100%;
    }
    .imagedesc {
        color: black;
        margin: auto;
        font-size: small;
        text-align: left;
    }
  }