

.container-first {
  width: 100%;
  margin:auto;  
  background-color: rgb(46, 46, 46);
  
}

.content-first {
width: 80%;
margin: auto;
padding-top: 50px;
color:white;
}


.container-second {
width: 80%;
margin:auto;  
padding-bottom: 40px;
    
}


.container-video {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.title {
    text-align: left;

}

/* arrow */


.bi {
    font-size: 1rem;
}

.italic {
    font-weight:400;
    font-style: italic;

}

/*song title */
.container-title {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.btn {
    padding: 10px;
}


.container-table {
padding-top: 20px;
}

.description {
padding-top: 20px;
}

#arrow {
    font-size: 3rem;
}

/* lyrics */
#lyrics {
    padding: 30px;
}
.container-lyrics {
    color: white;
    background-color: rgb(46, 46, 46);
    padding: 20px;
    width: 80%;
    margin: auto;
    height: auto;
    font-weight: 400;
    font-size: large;
    box-shadow:3px 3px 10px grey;  

}

.lyric-title {
    text-align: center;
}


h3 {
    text-align: center;
    padding-bottom: 20px;
}