.container-first {
    width: 100%;
}

h1, h2 {
    color: black;
}
.title {
    text-align: left;
    padding: 30px;
}

img { 
    width: 100%;
    float: right;
}

/* arrow */

.bi {
    font-size: 1rem;
}

.italic {
    font-weight:400;
    font-style: italic;

}
.container-arrow {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*song title */
.container-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* video */

.container-video {
    padding: 10px;
}

.image-container {
    height: 400px;
}
.cover-art {
    width: 300px
}

#arrow {
    font-size: 3rem;
}

/* lyrics */
.lyric-title {
    text-align: center;
    padding: 20px;
}
.lyrics {
    float: left;
    font-family:'Montserrat', sans-serif ;
    font-size: x-large;
    font-weight: 400;
    padding: 30px;

}


h3 {
    text-align: center;
}
.container-md {
    background-color: rgb(247, 247, 247);
    padding-top: 50px;
    margin: auto;
}

/* JavaScript css */


.box {
    background-color: blue;
    border: 2px solid white;
    position: relative;


}


.line1 {
    background-color: rgb(213, 241, 53);
    padding: 2px;
    border: rgb(213, 241, 53);
    border-radius: 5px;
}
   
#more {
    visibility: hidden;
    float: right; 
}
   
.line2 {
    background-color: rgb(213, 241, 53);
    padding: 2px;
    border: rgb(213, 241, 53);
    border-radius: 5px;
}

 #more2 {
    visibility: hidden;
    float: right;

}

