
.progress-container {
  margin: auto;
  background-color: black; 
  padding-top: 50px;
}
.progress {
    width: 80%;
  margin: auto;
}
.progress-bar {

background-color:cornflowerblue;
color: black;
}

.container-one {
  width: 100%;
  margin:auto;  
  background-color: black;
  
}

.song-title {
    color: rgb(255, 255, 174);
    padding-bottom: 60px;
    text-align: center;
}


.container-two {
    width: 90%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: aliceblue;
    border-radius: 2px;
    height: auto;
    background-color: black;
}


.container-three {
    padding: 40px;
    margin: auto;
    width: 90%;
    color: aliceblue;
    background-color: black;

  
}
.container-four {
    
    color: black;
    background-color: white;
    width: auto;
    margin: auto;
    font-size: large;
    float: center;
   
    
}


.modal-ca {
    text-align: center ;
}
.event-image {
    text-align: center;
}
.imagedesc {
    color: black;
    margin: auto;
    font-size: medium;
    text-align: left;
}

.popover-lyric{
    border: none;
    background-color: rgb(255, 255, 174);
    text-align: left;
    padding: none;
    



}
.popover{
    font-size: large;
    border: solid 2px cornflowerblue ;
    background-color: rgb(248, 248, 248) ;
    

}

.popover .popover-arrow::before, .popover .popover-arrow::after {
    border-right-color: cornflowerblue;
}


.container-lyrics {
    width: 80%;
    margin: auto;
    height: auto;
     padding-bottom: 50px;
}

#lyric-container {
    padding: 10px;
}

.lyrics {
    width: 50%;
    margin: auto;
    height: auto;
   
}
.lyric-title {
    text-align: center; 
    padding-bottom: 30px;
   
}
.table {
    width: 80%;
    color: aliceblue;
}

.container-sm {
align-content: left;
}

.content-first {
width: 80%;
margin: auto;
padding-top: 50px;
color:white;
font-size: large;
}





.title {
    text-align: left;

}

/* arrow */

.down-arrow{
    text-align: center;
    padding-top: 30px;
}
/*.bi {
    font-size: 1rem;
}
*/
.italic {
    font-weight:400;
    font-style: italic;

}

/*song title */
.container-title {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.btn {
    padding: 10px;
}


.container-table {
padding-top: 5px;
}

.description {
padding-top: 20px;
}

#arrow {
    font-size: 1.5em;
}
#arrow-down {
    font-size: 3rem;
    color: rgb(255, 255, 174)
}
#arrow-down:hover {
    color: rgb(141, 141, 121)
}

.lyric-title {
    color: black;
}

h3 {

    padding-bottom: 20px;
    color: white;
}


/* lyrics */
.col-4 {
    padding: 10px;
    text-align: left;
    margin: auto;
    width: 80%;
}




/** button for the lyrics **/
.lyric-button{

    background-color: rgb(255, 255, 255);
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
#lyric-button{
    font-size: x-large;
    background-color: transparent;
    color: black;
    background-color: cornflowerblue;
    border: none ;
    padding-left: 20px;
    padding-right: 20px;
    }

 

/* cover-art styling */
.coverart-image {
    padding: 10px;
}
.coverart{ 
    justify-content: center;
    width: 90%;
    margin: auto;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* cover-art table */
#ca-metadata {
    color: black;
    font-size: small;
    width: 100%;
    padding-top:20px;
    
}


@media screen and (max-width: 600px) {
    #column-one {
        padding: 5px;
        font-size: small;
    }
    
    #column-two {
        padding: 5px;
        font-size: small;
    }
    .container-lyrics{
     width: 100%;   
    }
    .lyrics {
        width: 90%;
        margin: auto;
        height: auto;
    }
    body {
        font-size: medium;
    }
    .content-first {
         font-size: medium;
        width: 90%;
        }
    .container-two {
        font-size: medium;
        width: 100%;
    }
    .container-three {
        font-size: medium;
        width: 100%;
    }
    
    .table {
        width: 100%;
    }
  }