.page-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 2px black;

}

.card-title {
    color: white;
    text-align: center;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.7);
}
.card{
    padding: 10px;
    
    border-radius: 0;
}
a {
    text-decoration: none;
}
.card:hover {
    background-color: rgb(24, 24, 24);
    
}