/* Styling for explore-songs page */


body {
    background-color:  black;
    color: white(99, 42, 42);
}
.page-title {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: black;
    text-align: center;
    color: white;
    
    
}
.explore {
    font-size: large;
}

#songs-container{
    padding-left: 30px;
    padding-right: 30px;
    background-color:black;
    color: white;
    margin: auto;
    width: 80%;
}

.list-group-item {/* styling for each song in list */
    padding: 10px;
    background-color: black;
    color: white;
}

.row {
    background-color: black;
    color: white;
}


a { /* font styling for each song link  */
    color: white;
    text-decoration:none;
    font-weight: 400;

}

a:hover { /* font styling for each song link on hover  */
    color: rgb(53, 53, 52)
}

.artist {
    font-size: medium;
    font-weight: 300;
}



/* Resposnive elements for mobile phones */
@media screen and (max-width: 800px) {
    #songs-container {
    font-size: medium;
    padding: 10px;
    width: 100%;
} 
.list-group-item {
    padding-bottom: 10px;
}

}