body {
    font-size: large;

    background-color:  rgb(255, 255, 247);
    color: black;
}

.page-title {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    
    
}

.list-group-item {
    padding: 10px;
}

.row {
    background-color:rgb(255, 255, 247);
}


a {
    color: black;
    text-decoration:none;
    font-weight: 400;

}

a:hover {
    color: rgb(53, 53, 52)
}

.artist {
    font-size: medium;
    font-weight: 300;
}
#songs-container{
    padding: 40px;
    border-bottom: solid 2px black;
    background-color:rgb(255, 255, 247);
}

