body {
    background-color: black;
 } 
.container-one {
    width: 90%;
    margin: auto;
 
}
.page-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; 
     color: white;

}
.card-title {
    text-align: center;
}