/* Styling for explore-events page */

body {
    background-color: black;
 } 
.container-one {
    width: 90%;
    margin: auto;
 
}
.page-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; 
    color: white;

}
.card-title {
    text-align: center;
}

/* Resposnive elements for mobile phones */
@media screen and (max-width: 800px) {
.container-one { 
    width: 100%;
    margin: auto;
    }
    .card {
    padding: 10px;

    }
}