body {
    background-color: black;
    color: white;
    
}

#homepage1 {
    display: flex;
    width: auto;
    padding-top: 70px;
    padding-bottom: 80px;
    height: auto;
}  
.guide {
    padding-top: 30px;
}

#homepage {
   
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
   
}
.intropara {
    font-size: x-large;
    border-top: solid 1px white;
    padding-top: 20px;
    text-align: center;
    
}
.enter-exhibition {
    padding-top: 60px;
}

h4 {
    text-align:left;
}


h1 {
    color: antiquewhite;
    text-align: center;
}
p {
    font-size: medium;
}

.guide{
    text-align: left;
}

#link-one {
    color: rgb(255, 255, 167);
    text-decoration: none;
    font-size: x-large;
    
}

#link-one:hover {
    color: rgb(146, 146, 146);
    text-decoration: none;
    font-size: x-large;
    

} 




.container-one {
    margin: auto;
    width: 80%;
    align-items: center;
    height: auto;
    
}

.welcome {
    padding-top: 60px;

}

.instructions {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
}

.enter {
text-align: right;
padding-bottom: 30px;
}

.homepage-container {
    margin: auto;
    width: 80%;
    justify-content: end;
}