#homepage {
    display: flex;
    width: auto;
    flex-direction: column;
   
}

#homepage:nth-child(2) {
    background-color: black;
    height: 200px;
    align-items: center;
    justify-content: flex-end;
    color: white;

}

h2 {
    color: antiquewhite;
}
p {
    font-size: large;
}
#homepage:nth-child(3) {
    background-color: black;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
}

#homepage:nth-child(4) {
    height: 150px;
    align-items: center;
    justify-content: center;
   
}

#homepage:nth-child(5) {
    height: 150px;
    align-items: center;
    justify-content: center;
}

#link-one {
    color: antiquewhite;
    text-decoration: none;
    font-size: x-large;
}

#link-one:hover {
    color: rgb(252, 225, 191);
    text-decoration: none;
    font-size: x-large;

} 

#link-two {
    color: black;
    text-decoration: none;
    font-size: large;
}

#link-three {
    font-size: large;
    color: black;
    text-decoration: none;
}