#homepage {
    display: flex;
    width: auto;
    flex-direction: column;
   
}

#homepage:nth-child(2) {
    background-color: black;
    height: 200px;
    align-items: center;
    justify-content: flex-end;
    color: white;

}

p {
    font-size: large;
}
#homepage:nth-child(3) {
    background-color: black;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
}
#homepage:nth-child(4) {
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color:  rgb(255, 255, 247);
}

#homepage:nth-child(5) {
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 247);
}

#links {
    color: rgb(143, 99, 99);
    text-decoration: none;
}