body { 
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: medium;
    color: white;
}

h1 {
    font-size: 55px;
    font-weight: 400;
}

li, ul {
    list-style-type: none;

}
.bi {
    font-size: 1rem;
}
nav {
    background-color: black;
}
.navbar {
    background-color: black;
}
