/* Styling for whole website, for consistent design */

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}


h1 {
    font-size: 55px;
    font-weight: 400;
}

li, ul {
    list-style-type: none;

}
.bi {
    font-size: 1rem;
}

/* navbar styling underneath */
nav {
    background-color: black;
    font-size: medium;
}

.navbar {
    background-color: black !important;/* to override the default bootstrap colour of the navbar */
}

.nav-item {
    padding-right: 20px;
    font-size: medium;
}


/* Responsive elemtent for styling */
@media screen and (max-width: 600px) {
    body {
     font-size: small;
    }
  }
  