/* Syling for navigation on the bottom of exhibition */
.button-prev {
    float: left;
}

.button-next {
    float: right;  
}

.pagenav{
    color: black; /* black so it constrasts on white background */
    font-size: large; 
}


.bi {
    font-size: 1.2rem;
}

.navigation {
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

/* Styling for responsive mobile devices */
@media screen and (max-width: 600px) {
    .pagenav{
     font-size: medium;
    }
  }