.button-prev {
    float: left;
  
   
}


.button-next {
    float: right;
   
}

.pagenav {
    color: white;
    font-size: x-large;
}




.navigation {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    
}