.button-prev {
    float: left;
  
   
}


.button-next {
    float: right;
   
}

.pagenav {
    color: white;
    font-size: large;
}



.bi {
font-size: 1.2rem;
}
.navigation {
    width: 90%;
    margin: auto;
    padding-bottom: 70px;
    padding-top: 20px;
    
}