.button-prev {
    float: left;
  
   
}


.button-next {
    float: right;
   
}

.pagenav{
    color: black;
    font-size: large;
}


.bi {
    font-size: 1.2rem;
    }

.navigation {
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}