.button-prev {
    float: left;
  
   
}


.button-next {
    float: right;
   
}

a {
    color: black;
    font-size: large;
}




.navigation {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}