---
layout: default
---
<!-- This is the layout for all the pages of the exhibition  -->

<link rel="stylesheet" href="../assets/exhibition.css"><!-- CSS -->

<!-- Progress bar-->
{% for event in site.events %}
    {% if event.category == page.category %} <!--In order to display the right event on the page-->
<div class="progress-container">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:{{ page.index }}%" aria-valuenow="{{page.index}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<!-- Event -->  
<div class="container-one">

  {% include navigation_light.html %}


  <div class="content-first">
    
    {% for song in site.songs %}
    {% if song.title == page.title %}  <!-- In order to display the right song on the page-->
    <div class="song-title">
       <h2>{{song.title}} by {{song.artist}}</h2>
    </div>


    <div class="row">
      <div class="title col-lg-6 align-self-center" >
       
      
        <h1>{{ event.year }}</h1> 
        <h2>{{ event.title }}</h2>
        {% if event.location %} 
           <p class="italic"> <i class="bi bi-geo-alt-fill"></i> {{ event.location }}</p>
           {% endif %}
           {% if event.duration %}
           <p class="italic"> <i class="bi bi-calendar-event"></i>   {{ event.duration }}</p>
           {% endif %}
           
          

          
         <p>{{ event.description }}
          </p>
      
            {% if event.songdesc %}
           <p class="placeholder">  {{ event.songdesc }}</p>  
           {% endif %}


          <!-- Description for events with more than 1 song -->
           {% for song in site.songs %}
           {% if song.title == page.title %} 
           {% if song.description1 %}
           <p class="placeholder">  {{song.description1 }}</p>  
           {% endif %}
           {% else %}
           {% continue %}
             {% endif %}
         {% endfor %} 
         {% else %}
         {% continue %}
           {% endif %}
       {% endfor %} 
         </div>

        

   
    <!-- Event image and modal -->
    
      <div class="col-lg-6">
        <button  data-bs-toggle="modal" data-bs-target="#exampleModal0">
            <div class="event-image">
            <img src="{{ event.image }}" class="img-fluid" alt="{{ event.title }}">
            </div>
        </button>
      </div>

      <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-body">
              <div class ="event-image">
                <img src="{{ event.image }}" class="img-fluid" alt="{{event.image-desc}}">
              </div>
            </div>
              <div class="modal-footer">
                <div class="imagedesc">
                  <p>{{event.image-desc}}</p>
                  <p>Source: <a href="{{ event.image-source }}"> {{ event.source-name }}</a></p>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="down-arrow">
      <p> <a class="nav-link" href="#scrollspyHeading1"><i class="bi bi-chevron-down" id="arrow-down"></i></a></p>
  </div>
      {% else %}
    {% continue %}
      {% endif %}
  {% endfor %} 
</div>
</div>
<!-- End of events-->


<!--Start of song information  -->
{% for song in site.songs %}
    {% if song.title == page.title %} 
<div class="container-two"> 
    <div class="container-title">
            <h1 id="scrollspyHeading1"><p> Listen to {{ song.title }}</p></h1> 
            <h4> <p>By {{song.artist}}</p></h>
    
    </div>
    <div class="row">

      <!-- Youtube video of the song -->
      <div class="col-lg-8">
        {% if song.video %}
        <div class="ratio ratio-16x9">
          <iframe width="560" height="auto" src="{{ song.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}

  <!-- Soundcloud version of song -->
        {% if song.soundcloud %}
        <div>
        <iframe width="100%" style="margin:auto" height="400" scrolling="no" frameborder="no" allow="autoplay" src="{{ song.soundcloud }}"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="{{song.soundcloud-artist}}" title="{{song.artist}}" target="_blank" style="color: #cccccc; text-decoration: none;">{{song.artist}}</a> · <a href=" {{ song.soundcloudsource }}" title="{{ song.title }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ song.title }}</a></div>
      </div>
      {% endif %}
      </div>
    <!-- Table of song metadata-->
    <div class="col-lg-4">
        <div class="container-sm song-info">
          
          <table class="table">
              <tbody>
                <tr>
                  {% if song.artist %}
                  <th scope="row">Artist</th>
                  <td>{{ song.artist }}</td>
                </tr> 
                {% endif %}

                <tr> 
                  {% if song.released %}
                  <th scope="row">Release Date</th>
                    <td>{{ song.released }}</td>
                  </tr>
                {% endif %}

                <tr>
                {% if song.album %}
                <th scope="row">Album</th>
                <td>{{ song.album }}</td>
              </tr>
              {% endif %}
                <tr>
                  {% if song.label %}
                  <th scope="row">Label</th>
                  <td>{{ song.label }}</td>
                  </tr>
                {% endif %}

                <tr> 
                  {% if song.genre %}
                  <th scope="row">Genre</th>
                  <td>{{ song.genre }}</td>
              </tr>
                {% endif %}

                <tr>
                  {% if song.producer %}
                  <th scope="row">Producer(s)</th>
                  <td>{{ song.producer }}</td>
                  </tr>
                {% endif %}

                <tr>
                  {% if song.writer %}
                  <th scope="row">Writer(s)</th>
                  <td>{{ song.writer }}</td>
                </tr>
                {% endif %}

                <tr>
                  {% if song.duration %}
                  <th scope="row">Duration</th>
                  <td>{{ song.duration }}</td>
                </tr>
                {% endif %}

                <tr>
                  {% if song.language %}
                  <th scope="row">Language</th>
                  <td>{{ song.language }}</td>
                </tr>
                {% endif %}

                <tr>
                  {% if song.country %}
                  <th scope="row">Country</th>
                  <td>{{ song.country }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
             
            {% if song.versions %}
            <em>Some notable versions: </em>
            <p>{{ song.versions }}</p>
            {% endif %}
            {% if song.more-versions %}
            <p> <a href="{{ song.more-versions }}"id="link">Check out more versions here</a></p>
            {% endif %}
        </div>
      </div>
    </div>
</div>


  <!--Explore the lyrics button-->
 <div class="container-four justify-content-center">
   <div class="lyric-button">
        <a class="btn btn-primary" id="lyric-button" data-bs-toggle="collapse"href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-chevron-down"></i>  Click here to explore the lyrics <i class="bi bi-chevron-down"></i>
        </a>
 </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
           {{ content }} <!-- Takes the content/lyrics from each individual page-->
        </div>
<!-- End of lyrics -->

<!--- Description of the song and image of cover-art -->

<div class="container-three">
  <div class="row row align-items-start gx-5">
    <!-- first column -->
    <div class="col-lg-6 align-self-center">
            <h3> About {{ song.title }}:</h3>
           
              <p> {{ song.description}}</p>
             
              {% if song.award1 %}
              <p> <i class="bi bi-award-fill"></i> {{ song.award1 }}</p>
                {% endif %}
              {% if song.award2 %}
              <p> <i class="bi bi-award-fill"></i> {{ song.award2 }}</p>
                {% endif %}
              {% if song.award3 %}
              <p> <i class="bi bi-award-fill"></i> {{ song.award3 }}</p>
                {% endif %}
                {% if song.award4 %}
              <p> <i class="bi bi-award-fill"></i> {{ song.award4 }}</p>
                {% endif %}
             <p> <a href="/bibliography" id="link"> Find more sources here </a></p>
            
     {% else %}
    {% continue %}
      {% endif %}
    {% endfor %}
  
    {% for object in site.objects %}
    {% if object.category == page.category %}
  <!--- Modals for extra images-->
              {% if object.image %}
              <button data-bs-toggle="modal" data-bs-target="#exampleModal4">
                <div>
                  <img src="{{ object.image }}" id="image" class="img-fluid" alt="{{ object.description }}">
               </div> 
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
    
                    <div class="modal-body">
                      <img src="{{ object.image }}" id="image" class="img-fluid" width="100%" height="100%" alt="{{ object.description }}">
                      <table class="table" id="ca-metadata">
                        <tbody>
                          <tr>
                            <th scope="row">Title</th>
                            <td>{{ object.title }}</td>
                          </tr> 
                          <tr> 
                            <th scope="row">Description</th>
                              <td>{{ object.description }}</td>
                            </tr>
                          <tr>
                            <tr> 
                              <th scope="row">Subject</th>
                                <td>{{ object.subject }}</td>
                              </tr>
                            <tr>
                            <th scope="row">Creator</th>
                            <td>{{ object.creator }}</td>
                            </tr>
                          <tr> 
                            <th scope="row">Publisher</th>
                            <td>{{ object.publisher }}</td>
                        </tr>
                          <tr>
                            <th scope="row">Date</th>
                            <td>{{ object.year }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Format</th>
                            <td>{{ object.format }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Source</th>
                            <td>{{ object.source }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Language</th>
                            <td>{{ object.language}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Rights</th>
                            <td>{{ object.rights }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
              
                  </div>
                </div>
                {% else %}
              {% continue %}
                {% endif %}
                {% endif %}
              {% endfor %}

              </div>  
              


  {% for coverart in site.coverarts %}
   {% if coverart.title == page.title %}

      <!-- second column / cover art modals -->
    <div class="col-lg-6 justify-content-start">

            <!-- Button(image) trigger modal -->
            <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <div class="coverart-image">
                <img src="{{ coverart.image }}" id="coverart" class="img-fluid" alt="{{ coverart.description}}">
              </div>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="modal-ca">
                    <img src="{{ coverart.image }}" id="coverart" class="img-fluid" alt="{{ coverart.description}}">
                    </div>
                    <table class="table" id="ca-metadata">
                      <tbody>
                        {% if coverart.title %}
                        <tr>
                          <th scope="row">Title</th>
                          <td>{{ coverart.title }}</td>
                        </tr> 
                        {% endif %}
                        {% if coverart.description %}
                        <tr> 
                          <th scope="row">Description</th>
                            <td>{{ coverart.description }}</td>
                          </tr>
                        {% endif %}
                        {% if coverart.subject %}
                        <tr> 
                          <th scope="row">Subject</th>
                            <td>{{ coverart.subject}}</td>
                          </tr>
                        {% endif %}
                        {% if coverart.creator %}
                        <tr>
                          <th scope="row">Creator</th>
                          <td>{{ coverart.creator }}</td>
                          </tr>
                          {% endif %}
                          {% if coverart.publisher %}
                        <tr> 
                          <th scope="row">Publisher</th>
                          <td>{{ coverart.publisher }}</td>
                      </tr>
                      {% endif %}
                      {% if coverart.contributor %}
                        <tr>
                          <th scope="row">Contributor</th>
                          <td>{{ coverart.contributor }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.year %}
                        <tr>
                          <th scope="row">Date</th>
                          <td>{{ coverart.year }}</td>
                        </tr>
                        {% endif %}

                        {% if coverart.type %}
                        <tr>
                          <th scope="row">Type</th>
                          <td>{{ coverart.type }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.format %}
                        <tr>
                          <th scope="row">Format</th>
                          <td>{{ coverart.format }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.identifier %}
                        <tr>
                          <th scope="row">Identifier</th>
                          <td>{{ coverart.indentifier }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.source %}
                        <tr>
                          <th scope="row">Source</th>
                          <td>{{ coverart.source }}</td>
                        </tr>
                        {% endif %}

                        {% if coverart.language %}
                        <tr>
                          <th scope="row">Language</th>
                          <td>{{ coverart.language}}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.relation %}
                        <tr>
                          <th scope="row">Relation</th>
                          <td>{{ coverart.relation }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.coverage %}
                        <tr>
                          <th scope="row">Coverage</th>
                          <td>{{ coverart.coverage }}</td>
                        </tr>
                        {% endif %}
                        {% if coverart.rights %}
                        <tr>
                          <th scope="row">Rights</th>
                          <td>{{ coverart.rights }}</td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
              
      


           
        </div>
      </div>
   

  {% else %}
  {% continue %}
    {% endif %}
  {% endfor %}
  </div>
 
  </div>



 {% include navigation_dark.html %}

</div>



 </div>



