---
layout: default
---
<link rel="stylesheet" href="../assets/exhibition.css">

<!-- events -->  

{% for event in site.events %}
    {% if event.category == page.category %} 

<div class="container-first">
    <div class="row">
      <div class="title col-lg-4 align-self-center" >
        <h1><p> {{ event.year }}  </p></h1>
        <h2><p> {{ event.title }}</p></h2>
        
          <p>{{ event.description }}</p>
          <p> <i class="bi bi-geo-alt-fill"></i></p>
      </div>

        <div class="col-lg-8">
        <img src="{{ event.image }}" class="img-fluid" alt="{{ event.title }}">
       </div>
    </div>
      {% else %}
    {% continue %}
      {% endif %}
  {% endfor %}
</div>

<div class="container-arrow">
    <i class="bi bi-arrow-down"></i>
</div>


<!--song -->
{% for song in site.songs %}
    {% if song.title == page.title %} 

  
<div class="container-title">
      <h1> {{ song.title }}</h1> 
</div>

<div class="container-video">
      <div class="ratio ratio-16x9">
        <iframe width="560" height="315" src="{{ song.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
        
<div class="container-sm song-info">
    <div class="description">
      <p>Description</p>
      <p>{{ song.description }}</p>
    </div>
  <div class="container-table">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Artist</th>
          <td>{{ song.artist }}</td>
        </tr>
        <tr>
          <th scope="row">Release Date</th>
          <td>{{ song.released }}</td>
        </tr>
        <tr>
          <th scope="row">Label</th>
          <td>{{ song.label }}</td>
        </tr>
        <tr>
          <th scope="row">Genre</th>
          <td>{{ song.genre }}</td>
        </tr>
        <tr>
          <th scope="row">Producer</th>
          <td>{{ song.producer }}</td>
        </tr>
        <tr>
          <th scope="row">Writer</th>
          <td>{{ song.writer }}</td>
        </tr>
        <tr>
          <th scope="row">Versions</th>
          <td>{{ song.versions }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- image container -->
<div class="image-container">
  <div class="cover-art mx-auto">
    <img src="{{song.coverart }}" class="" alt="...">
  </div>
</div>
</div>
  {% else %}
  {% continue %}
    {% endif %}
  {% endfor %}
</div>


 <div class="container-arrow">
    <i class="bi bi-arrow-down"></i>
  </div>


<!-- lyrics container-->
<div class="lyric-title">
    <h1> Explore the Lyrics </h1>
  
</div>


{{ content }}

<!-- Javascript for lyric meanings-->
<script>

  function showMore() {

      var element = document.getElementById('more');
  
      if(element.style.visibility == 'visible') {
          element.style.visibility = 'hidden';
      } else {
          element.style.visibility = 'visible';
      }
  
  }
  
  function showMore2() {

      var element = document.getElementById('more2');

      if(element.style.visibility == 'visible') {
          element.style.visibility = 'hidden';
      } else {
       element.style.visibility = 'visible';
          }   

  }

</script>