---
layout: default
---
<link rel="stylesheet" href="../assets/exhibition.css">

<!-- events -->  


{% for event in site.events %}
    {% if event.category == page.category %} 

<div class="container-one">

  {% include navigation_light.html %}
<!-- event description -->
  <div class="content-first">
    <div class="row">
      <div class="title col-lg-6 align-self-center" >
        <h1><p></i> {{ event.year }}  </p></h1>
        <h2><p> {{ event.title }}</p></h2>
        {% if event.location %} 
           <p class="italic"> <i class="bi bi-geo-alt-fill"></i> {{ event.location }}</p>
           {% endif %}
           {% if event.date%}
           <p class="italic"> <i class="bi bi-calendar-event"></i>   {{ event.date |date_to_long_string }}</p>
           {% endif %}
           
          

          
         <p>{{ event.description }}
          </p>
      
            {% if event.songdesc %}
           <p class="placeholder">  {{ event.songdesc }}</p>  
           {% endif %}
         </div>
    <!-- event image-->
        <div class="col-lg-6">
        <img src="{{ event.image }}" class="img-fluid" alt="{{ event.title }}">
        {% if event.imgsource %}
       <em><p>{{ event.imgsource }}</p></em>
       {% endif %}
      
      </div>
      
    </div>
   <div class="down-arrow">
      <p> <a class="nav-link" href="#scrollspyHeading1"><i class="bi bi-chevron-down" id="arrow-down"></i></a></p>
  </div>
      {% else %}
    {% continue %}
      {% endif %}
  {% endfor %} 
</div>
</div>



<!--song -->
{% for song in site.songs %}
    {% if song.title == page.title %} 
<div class="container-two"> 
  <div class="container-title">
          <h1 id="scrollspyHeading1"><p> {{ song.title }}</p></h1> <h4> <p>{{song.artist}}</p></h>
    <p> read more</p>
  </div>
  <div class="row">

    <!-- video of the song -->
    <div class="col-lg-8">
      {% if song.video %}
      <div class="ratio ratio-16x9">
        <iframe width="560" height="auto" src="{{ song.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% endif %}

<!-- soundcloud version of song -->
      {% if song.soundcloud %}
      <div>
      <iframe width="80%" height="400" scrolling="no" frameborder="no" allow="autoplay" src="{{ song.soundcloud }}"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="{{song.soundcloud-artist}}" title="{{song.artist}}" target="_blank" style="color: #cccccc; text-decoration: none;">{{song.artist}}</a> · <a href=" {{ song.soundcloudsource }}" title="{{ song.title }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ song.title }}</a></div>
    </div>
    {% endif %}
    </div>
  <!-- table of metadata-->
  <div class="col-lg-4">
       <div class="container-sm song-info">
         
         <table class="table  table-hover">
            <tbody>
              <tr>
                {% if song.artist %}
                <th scope="row">Artist</th>
                 <td>{{ song.artist }}</td>
              </tr> 
              {% endif %}

              <tr> 
                {% if song.released %}
                <th scope="row">Release Date</th>
                  <td>{{ song.released }}</td>
                </tr>
               {% endif %}

              <tr>
                {% if song.label %}
                <th scope="row">Label</th>
                <td>{{ song.label }}</td>
                </tr>
              {% endif %}

              <tr> 
                {% if song.genre %}
                <th scope="row">Genre</th>
                <td>{{ song.genre }}</td>
             </tr>
              {% endif %}

              <tr>
                {% if song.producer %}
                <th scope="row">Producer(s)</th>
                <td>{{ song.producer }}</td>
                </tr>
               {% endif %}

              <tr>
                {% if song.writer %}
                <th scope="row">Writer(s)</th>
                <td>{{ song.writer }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
       </div>
  </div>
  </div>
<!-- history of song-->
          {% if song.history %}
        <div>
          <h3> History:</h3>
          <p>{{ song.history }}</p>
        </div>
      {% endif %}
       </div>
  </div>


<!-- lyrics container-->
<div class=container-four>


{{ content }}

</div>
<!--- description-->

<div class="container-three">
  <div class="row row align-items-start gx-5">
    <div class="title col-lg-6 align-self-center" >
           <div>
             <img src="{{ song.coverart }}" id="coverart" class="img-fluid" alt="{{ song.coverart-description}}">
            </div>
          <p>{{ song.coverart-description }}</p>
           
            
      </div>
      <div class="col-lg-6 justify-content-start">
          <h3> About {{ song.title }}:</h3>
          {% if song.description %}
            <p> {{ song.description}}</p>
            {% endif %}
              {% if song.versions %}
              <em>Versions: </em>
              <p>{{ song.versions }}</p>
              {% endif %}
            </tr>
            {% if song.image %}
            <div>
              <img src="{{ song.image }}" id="image" class="img-fluid" alt="{{ song.image-description}}">
             </div>
             {% endif %}

             {% if song.image-description %}
             <p> {{ song.image-description }} </p>
             {% endif %}
            <p> <i class="bi bi-award-fill"></i> {{ song.award1 }}</p>
            <p> <i class="bi bi-award-fill"></i> {{ song.award2 }}</p>
            <p> <i class="bi bi-award-fill"></i> {{ song.award3 }}</p>
            <p> recommendation of sources:</p>
  
    </div>
    
    </div>

         </div>
         
      </div>
    </div>
     {% include navigation_dark.html %}
  
  </div>
  {% else %}
  {% continue %}
    {% endif %}
  {% endfor %}
 
</div>


</div>




