---
layout: default
---

<link rel="stylesheet" href="../assets/explore-events.css">

<div class="container-one">

  <div class="page-title">
      <h1> {{ page.title }}</h1>
  <p> Explore the music through their relating events: </p>
  </div>




    <!-- to sort the events by year -->
    {% assign events_by_year = site.events | sort: "year" %}
       <div class="row row-cols-1 row-cols-md-3 g-3 p-5">
        {% for event in events_by_year %}
        <div class="col mb-3">
        <!-- to add the link to each event song to the right page-->
      {% for page in site.pages %}
      {% assign pageurl = page.url %}
      {% if page.title == event.song1 %} 
      {% assign songurl = page %}
      
      {% endif %}
      
      {% endfor %}  


      <!-- to add the link to each event with two songs to the right page-->
      {% for page in site.pages %}
      {% assign pageurl = page.url %}
      {% if page.title == event.song2 %} 
      {% assign songurltwo = page %}

    {% endif% }
        {% endfor %}
          {% endfor %} 
        
          <div class="card-group">
            <div class="card h-100">
              <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"> {{event.year}}</h4>
                <h5 class="card-title"> {{ event.title}}</h5>
                <p class="card-text"> {{event.description}}</p>
                <p><strong>Related songs: </strong></p>
                {% if event.song1 %}
                <p> <a href="{{songurl.url}}"> {{ event.song1}} </a></p>
                {% endif %}

                {% if event.song2 %}
                <p> <a href="{{songurltwo.url}}"> {{ event.song2 }} </a></p>
                {% endif %}
              
              </div>
          
            </div>
          </div>
        </div>
     

      



        {% endfor %} 
    </div>  
  </div>

