---
layout: default
---
<link rel="stylesheet" href="../assets/explore-songs.css">

<div class="page-title">  
  <h1> {{ page.title}}</h1>
  <p> Explore the songs here</p>
</div>


<div class="container-fluid" id="songs-container">
  <div class="row justify-content-center">
    <div class="col-4" id="column-one">
      {% for song in site.songs limit:7 %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{song.url}}"> <i class="bi bi-record-circle-fill"></i> <strong>{{ song.title }} </strong>({{ song.released }}) <br> <em><span class="artist">{{song.artist}}</span></em></a></li>
           
          </ul>
             {% endfor %}
    </div>
      
    <div class="col-4">
   {% for song in site.songs offset:7 %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{page.url}}"> <i class="bi bi-record-circle-fill"></i> <strong>{{ song.title }}</strong> ({{ song.released }})<br> <em> <span class="artist">  {{song.artist}}</span></em></a></li>
             
        </ul>
    {% endfor %}
     </div>
  </div>
</div>

