---
layout: default
---
<!-- This is the layout for the 'Songs' page where you explore the exhibition via the songs -->
<link rel="stylesheet" href="../assets/explore-songs.css"> <!-- CSS -->

<div class="page-title">  
  <h1> {{ page.title}}</h1>
  <p class="explore"> Explore the songs:</p>
</div>



<div class="container-fluid" id="songs-container">
  <div class="row justify-content-center">
    <div class="col-6 .col-sm-4" id="column-one">
      {% for song in site.songs limit:7 %} <!-- limit each song to 7 on the column-->
<!-- Assign the song url to the page of the exhibition it relates to -->
{% for page in site.pages %}
{% assign pageurl = page.url %}
{% if page.title == song.title %} 
 {% assign songurl = page %}
 
{% endif %}

{% endfor %} 

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{songurl.url}}"> <i class="bi bi-record-circle-fill"></i> <strong>{{ song.title }} </strong>({{ song.released }}) <br> <em><span class="artist">{{song.artist}}</span></em></a></li>
    
      
          </ul>
             {% endfor %}
    </div>
      
    <div class="col-6 col-sm-4">
      <!-- Assign the song url to the page of the exhibition it relates to -->
   {% for song in site.songs offset:7 %}<!-- limit each song to the rest on the column-->
   {% for page in site.pages %}
{% assign pageurl = page.url %}
{% if page.title == song.title %} 
 {% assign songurl = page %}
 
{% endif %}

{% endfor %} 
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{songurl.url}}"> <i class="bi bi-record-circle-fill"></i> <strong>{{ song.title }}</strong> ({{ song.released }})<br> <em> <span class="artist">  {{song.artist}}</span></em></a></li>
             
        </ul>
    {% endfor %}
     </div>
  </div>
</div>

