---
layout: default
---
<link rel="stylesheet" href="../assets/explore-songs.css">

<div class="page-title">  
  <h1> {{ page.title}}</h1>
</div>

<!-- individual songs -->
<div class="row row-cols-1 row-cols-md-4 g-4 p-5">
        {% for song in site.songs %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                   <a href="{{ song.url }}">  <h5 class="card-title"> {{ song.title }} </h5></a>
                  <p class="card-text"> {{ song.artist }}</p>
                </div>
              </div>
        </div>
          {% endfor %}
</div>