---
layout: default
---

<link rel="stylesheet" href="../assets/explore-events.css">

<div class="page-title">
    <h1> {{ page.title }}</h1>
<p> Explore the music through their relating events: </p>
</div>


<div class="container-one">

  {% assign events_by_year = site.events | sort: "year" %}
  <div class="row row-cols-1 row-cols-md-3 g-4 p-5"> 
    {% for event in events_by_year %}
    <div class="col mb-3">

      {% for page in site.pages %}
      {% assign pageurl = page.url  %}
      {% if page.category == event.category  %} 
       {% assign eventurl = page %}
       
      {% endif %}

  {% endfor %}
 

      
      <a href="{{ eventurl.url}}"> 


      <div class="card text-white bg-dark mb-3 mb-3" style="width: 100%;">
        <img src="{{ event.image }}" class="card-img-top" alt="{{ event.title }}" height="300px">
        <div class="card-body">
          <p>
          <h5 class="card-title">
          <p>{{event.year}}</p>
          <p>{{ event.title }}</p>
      </h5>
      <p> {{event.description}}</p>
        </div>
      </div>
       </a>
    </div>
    {% endfor %} 
  </div> 
  </a>
</div> 