

<table class="table  table-hover">
    <tbody>
      <tr>
        {% if song.artist %}
        <th scope="row">Artist</th>
         <td>{{ song.artist }}</td>
      </tr> 
      {% endif %}

      <tr> 
        {% if song.released %}
        <th scope="row">Release Date</th>
          <td>{{ song.released }}</td>
        </tr>
       {% endif %}

      <tr>
        {% if song.label %}
        <th scope="row">Label</th>
        <td>{{ song.label }}</td>
        </tr>
      {% endif %}

      <tr> 
        {% if song.genre %}
        <th scope="row">Genre</th>
        <td>{{ song.genre }}</td>
     </tr>
      {% endif %}

      <tr>
        {% if song.producer %}
        <th scope="row">Producer(s)</th>
        <td>{{ song.producer }}</td>
        </tr>
       {% endif %}

      <tr>
        {% if song.writer %}
        <th scope="row">Writer(s)</th>
        <td>{{ song.writer }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>