---
layout: default
---

{{ page.title }}
{{ page.event }}
{{ page.artist }}


<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
  </div>
  
  <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
  </div>
  
  <!-- 4:3 aspect ratio -->
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
  </div>
  
  <!-- 1:1 aspect ratio -->
  <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
  </div>

{{ page.lyrics }}


{% for song in site.pages %}

{% if song.title == page.title %}

    <a href="{{ song.url }}"> go to exhibition</a>

{% endif %}


{% endfor %}


